
/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #343a40;
}

/* Movie list styles */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* Movie styles */
.movie {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.movie:hover {
  transform: translateY(-5px);
  background-color: rgb(139, 139, 235);
}



.movie h2 {
  margin-top: 10px;
  color: #141516;
}

.movie p {
  margin: 10px 0;
  color: #031422;
}

/* Stars styles */
.stars {
  display: flex;
  color: #07fbff;
}

.star {
  cursor: pointer;
  font-size: 20px;
}

.star.active {
  color: #ffac33;
}

/* Review list styles */
.review-list {
  margin-top: 20px;
}

.review {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Review form styles */
.review-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.review-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #0056b3;
}
